<div class="container">
  <h1>מערכת דרך המלך</h1>
  <p>ברוכים הבאים לאתר המשולב באפליקציה.</p>
  <button (click)="onTagVideosClick()">תיוג סרטונים</button>
    <div *ngIf="metadata" style="margin-top: 20px; padding: 15px; border: 1px solid #ccc; background-color: #f9f9f9; text-align: left;">
        <h3>מטא-דאטה שהתקבל:</h3>
        <pre>{{ metadata }}</pre>
      </div>
      <div *ngIf="cameraMessage" style="margin-top: 20px; padding: 15px; border: 1px solid #ffcc00; background-color: #fffacd;">
        <p><strong>הודעת מצלמה:</strong> {{ cameraMessage }}</p>
      </div>
</div>

